* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: montserrat-regular;
    src: url(/fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(/fonts/montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(/fonts/montserrat/Montserrat-Light.ttf);
}

/* BASIC */

html {
    font-family: montserrat-regular;
}

body {
    margin: 0;
    background-color: #E3E3E3;
}

button {
    border: 0;
    padding: 5px;
    border-radius: 20%;
    background-color: #fff;
    font-family: montserrat-regular;
}

button:hover {
    cursor: pointer;
}

.editBtn {
    width: 40px;
    height: 40px;
}

.shareBtn {
    width: 80px;
    height: 40px;
    background-color: #FF7F00;
    color: #fff;
}

button > img {
    width: 100%;
    height: 100%;
}

.logo {
    font-family: montserrat-bold;
}

a {
    text-decoration: none;
    color: #fff;
}

/* LAYOUT */

.main-layout {
    margin-left: 30px;
    margin-right: 30px;
}

/* COMPONENTS */

/* HEADER */

/* main-header */

.main-header {
    background-color: #FF7F00;
    color: #fff;
}

.header-elements {
    padding: 7px 0;
}

.nav-bar > * {
    padding: 10px
}

.nav-bar > :not(:last-child) {
    border-inline-end: 1px #8A8A8A solid;
}

.nav-bar:hover {
    cursor: pointer;
}

.main-header .logo {
    font-size: 1.5em;
}

/* meme editor */

.meme-editor {
    padding: 20px 0;
}

.canvas-container {
    padding-inline-end: 20px;
    flex: 1;
}

.control-box {
    flex: 1;
}

.control-box > section {
    padding-top: 10px;
}

/* TODO: make preety the color button */

/* .font-color {
    position: relative;
}

.font-color > * {
    position: relative;
    top: 0;
    left: 0;
} */

/* image gallery */

.image-gallery > .img-container {
    width: 100px;
    height: 100px;
}

.img-container > img {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.img-container > img:hover {
    cursor: pointer;
}



/* footer */

.main-footer {
    background-color: #FF7F00;
    color: #fff;
    font-family: montserrat-light;
    font-size: .8em;
}

.footer-elements {
    padding: 5px;
}

.footer-elements > * {
    padding: 5px;
}

.main-footer .logo {
    font-size: 1.2em;
}

/* HELPERS */

/* flex */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.direction-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

/* position */

.fixed {
    position: fixed;
}

/* hidden */

.hidden {
    display: none;
}

/* Mobile only */

@media screen and (max-width: 550px) {
    .meme-editor {
        flex-direction: column;
        align-items: center;
    }

    .image-gallery {
        flex-direction: column;
    }
    
    .image-gallery > .img-container {
        width: 100%;
        height: 100%;
    }
}