* {
    box-sizing: border-box;
}

/* BASIC */

body {
    margin: 0;
}

button {
    border: 0;
    padding: 5px;
    border-radius: 20%;
}

.editBtn {
    width: 40px;
    height: 40px;
}

.shareBtn {
    width: 70px;
    height: 40px;
}

button > img {
    width: 100%;
    height: 100%;
}

/* LAYOUT */



/* COMPONENTS */

/* meme editor */

.canvas-container {
    flex: 1;
}

.control-box {
    flex: 1;
}

/* image gallery */

.image-gallery > .img-container {
    width: 100px;
    height: 100px;
}

.img-container > img {
    width: 100%;
    height: 100%;
    padding: 5px;
}

/* HELPERS */

/* flex */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.direction-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}